<div class="container">
	<div class="text-center jumbotron">
		<div class="container-fluid">
		  <h1>Jadalnia</h1>
		  <p>Witam w Jadalni, by móc dodać danie, zostawić komentarz oraz ocenić potrawę trzeba być zalogowanym.</p>
		  <h3>Smacznego!</h3>
		  <br/>
		  <br/>	  	
		</div>
	</div>
</div>

